.blog-detail-text{
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.003em;
    margin: 20px;
    overflow-wrap: break-word;
    color: #181760;
    padding: 22px 100px 22px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 160%;

    letter-spacing: 0.01em;
}
.blog-detail-image{
    display: block;
    width: 80%;
    margin: auto;
}